<nav class="navbar" id="navbar">
  <div class="container-fluid">
    <div class="navbuttons">
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'index'}}<span class="glyphicon glyphicon-home"></span> Home{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'category' "coffee"}}Coffee{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'category' "machine"}}Machines{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="">{{#link-to 'category' "supply"}}Supplies{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'checkout'}}<span class="glyphicon glyphicon-shopping-cart"></span> Checkout{{/link-to}}</li>
      </ul>
  </div>
  </div>
</nav>

<div class= "container">
  <header class= "jumbotron">

  <h1>The Coffee Lab</h1>
  </header>
    {{outlet}}
  <hr>
 <footer>
   <h4>©2016 The Coffee Lab, Inc. All rights reserved</h4>
   <p>{{#link-to "admin"}}Admin{{/link-to}}</p>
 </footer>
</div>
