<div class= "container">
  <header class= "jumbotron">
  <nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="brand">Super Amazing Coffee Supplies</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'category' "coffee"}}Coffee{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'category' "machine"}}Machines{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'category' "supply"}}Supplies{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'checkout'}}Checkout{{/link-to}}</li>
      </ul>
    </div>
  </nav>
  <h1>Coffee Store!</h1>
  </header>
    {{outlet}}
  <hr>
 <footer>
   <h4>©2016 The Coffee Lab, Inc. All rights reserved</h4>
   <p>{{#link-to "admin"}}Admin{{/link-to}}</p>
 </footer>
</div>
