<div class="row">
  <div class="col-md-6">
    <div class="image-wrapper">
      {{#link-to "category" "coffee"}}<img class="index-link" src="img/coffeecaptioned.jpg">{{/link-to}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="image-wrapper">
      {{#link-to "category" "machine"}}<img class="index-link" src="img/machines2.jpg">{{/link-to}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{#link-to "category" "supply"}}<img class="index-link" src="img/suppliescaptioned.jpg">{{/link-to}}
  </div>
</div>
